<div class="container">
    <div class="footer_top row">
        <div class="col-lg-6 col-12 footer_top__info">
            <img src="./assets/img/logo.svg" alt="" class="footer_top__logo">
            <div class="footer_top__links-box">
                <a href="tel: +74952217065" class="footer_top__link">Телефон: +7 (495) 221-70-65</a>
                <a href="javascript:void(0)" class="footer_top__link">Адрес: 125993, г. Москва, ГСП-3, Миусская пл., д.7 стр. 1.</a>
            </div>
            <div class="footer_top__mails">
                <a href="javascript:void(0)" class="footer_top__mail">
                   <span>
                        <svg>
                            <use xlink:href="./assets/img/sprite.svg#assets--icons--Vector7"></use>
                        </svg>
                   </span> 
                   Все контакты
                </a>
                <a href="javascript:void(0)" class="footer_top__mail">
                    <span>
                         <svg>
                             <use xlink:href="./assets/img/sprite.svg#assets--icons--Vector8"></use>
                         </svg>
                    </span> 
                    Подать обращение
                 </a>
            </div>
            <div class="footer_top__social">
                <a href="javascript:void(0)" class="footer_top__soc">
                    <svg>
                        <use xlink:href="./assets/img/sprite.svg#assets--icons--Vector"></use>
                    </svg>
                </a>
                <a href="javascript:void(0)" class="footer_top__soc">
                    <svg>
                        <use xlink:href="./assets/img/sprite.svg#assets--icons--Vector2"></use>
                    </svg>
                </a>
                <a href="javascript:void(0)" class="footer_top__soc">
                    <svg>
                        <use xlink:href="./assets/img/sprite.svg#assets--icons--Vector3"></use>
                    </svg>
                </a>
                <a href="javascript:void(0)" class="footer_top__soc">
                    <svg>
                        <use xlink:href="./assets/img/sprite.svg#assets--icons--Vector4"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="col-lg-6 footer_top__links">
            <div class="row">
                <div class="col-6 footer_top__column">
                    <span class="footer_top__col-title">Важное</span>
                    <a href="javascript:void(0)" class="footer_top__link">Детям в руки</a>
                    <a href="javascript:void(0)" class="footer_top__link">Частичная мобилизация</a>
                    <a href="javascript:void(0)" class="footer_top__link">Covid-19</a>
                </div>
                <div class="col-6 footer_top__column">
                    <span class="footer_top__col-title">Для прессы</span>
                    <a href="javascript:void(0)" class="footer_top__link">Документы</a>
                    <a href="javascript:void(0)" class="footer_top__link">Правовое просвещение</a>
                    <a href="javascript:void(0)" class="footer_top__link">Статистика</a>
                </div>
            </div>
            <div class="footer_top__notify">
                <span class="footer_top__notify-icon">
                    <svg>
                        <use xlink:href="./assets/img/sprite.svg#assets--icons--Vector9"></use>
                    </svg>
                </span>
        
                <span class="footer_top__notify-text">Нашли опечатку? Выделите текст и нажмите Ctrl+Enter </span>
            </div>
        </div>
    </div>
    <div class="footer_bottom row">
        <div class="col-lg-7 col-12 footer_bottom__license">
            <span class="footer_bottom__license-text">Все материалы сайта доступны по лицензии:
                <a href="javascript:void(0)">Creative Commons Attribution 3.0</a>
            </span>
            <span class="footer_bottom__license-text">Официальный интернет-ресурс</span>
        </div>
        <div class="col-lg-5 col-12 footer_bottom__map">
            <a href="javascript:void(0)" class="footer_bottom__map-link">Карта сайта</a>
            <div class="footer_bottom__social">
                <a href="javascript:void(0)" class="footer_top__soc">
                    <svg>
                        <use xlink:href="./assets/img/sprite.svg#assets--icons--Vector"></use>
                    </svg>
                </a>
                <a href="javascript:void(0)" class="footer_top__soc">
                    <svg>
                        <use xlink:href="./assets/img/sprite.svg#assets--icons--Vector2"></use>
                    </svg>
                </a>
                <a href="javascript:void(0)" class="footer_top__soc">
                    <svg>
                        <use xlink:href="./assets/img/sprite.svg#assets--icons--Vector3"></use>
                    </svg>
                </a>
                <a href="javascript:void(0)" class="footer_top__soc">
                    <svg>
                        <use xlink:href="./assets/img/sprite.svg#assets--icons--Vector4"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>