<div class="container">
    <div class="header__layout">
        <img src="./assets/img/logo.svg" alt="" class="header__logo">

        <nav class="header__navigation">
            <ul class="header__nav-list js-header_nav-list">
                <li class="header__nav-li">
                    <a href="javascript:void(0)" class="header__nav-link">Уполномоченный</a>
                </li>
                <li class="header__nav-li">
                    <a href="javascript:void(0)" class="header__nav-link">Пресс-центр</a>
                </li>
                <li class="header__nav-li">
                    <a href="javascript:void(0)" class="header__nav-link">Деятельность</a>
                </li>
                <li class="header__nav-li">
                    <a href="javascript:void(0)" class="header__nav-link">Объясняем</a>
                </li>
                <li class="header__nav-li">
                    <a href="javascript:void(0)" class="header__nav-link">Аналитика</a>
                </li>
            </ul>
            <div class="burger_menu js-burger_menu">
                <svg>
                    <use xlink:href="./assets/img/sprite.svg#assets--icons--Vector5"></use>
                </svg>
            </div>
        </nav>
    </div>
    
</div>